/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333333;
}

/* Header styles */
header {
    background-color: #47033e;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

/* Navigation styles */
nav button {
    background-color: #d26a08;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #086c06;
}

/* Main content styles */
main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}


section {
    margin-bottom: 2rem;
}

ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

/* Project Gallery styles */
#python-projects .project, #other-projects .project {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* Footer styles */
footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
